.team {
    background: #29274C;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}

.team__h1 {
    color: #1E0E3C;
    padding-top: 5rem;
    color: #FF0808;
}
.team__dv {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 250px;
    height: 100%;

    .team__h2 {
        color: #FF0808;
    }

    .team__p {
        color: $secondaryColor;
    }
}

.team__img {
    width: 250px;
    height: 250px;
}

.team__algn {
    text-align: center;
}

.team__container {
   @include flex (center, center, null, wrap);
}